.player_controls {
  width: 200px;
  border: 1px solid black;
  margin: 20px;

  h2 {
    margin: 0;
    margin-bottom: 20px;
  }
}

.dice_controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  p {
    font-size: 2rem;
    margin: 0;
    padding: 0 20px;
  }

  button {
    width: 50%;
    margin: 3px;
  }
}

.diceImageContainer {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  border: 2px solid black;

  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1.5rem;
    width: 80%;
  }

  img {
    width: 100%;
  }
}
